{% extends "base.html" %}
{% block title %}Confirm Deletion of {{ submission.name }}{% endblock %}
{% block content %}
<h1 style="text-align:center;">Confirm Deletion of {{ submission.name }}</h1>
<p>Are you sure you want to delete this stage? This action is irreversible.</p>
{% csrf_token %}
<input type="button" onclick="$.ajaxSetup({headers: {'X-CSRFTOKEN': document.querySelector('input[name=\'csrfmiddlewaretoken\']').value}});$.ajax({url: '{{ submission.get_absolute_url }}', type: 'DELETE', success: function(response){document.write(response);}});" value="Yes" />
<input type="button" onclick="window.location.href='{{ submission.get_absolute_url }}';" value="No" />
{% endblock %}